.cartcontainer {
  position: relative;
  padding: 10px 12px;
  border-radius: 50%;
  cursor: pointer;
  transition: .3s;
}

.cartcontainer.clicked {
  background-color: #2B87AE;
}

.number {
  position: absolute;
  top: 50%;
  right: -10px;
  display: grid;
  place-items: center;
  width: 23px;
  height: 23px;
  border-radius: 50px;
  font-weight: 700;
  background-color: #FFF;
  color: #000;
}