.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  height: 100px;
  padding: 0 60px;
  background-color: #171A21;
}

.search {
  width: 40%;
  min-width: 400px;
  max-width: 100px;
  margin-right: 50px;
}

@media(max-width: 850px) {
  .navbar {
    padding: 0 20px;
  }

  .search {
    margin: 0;
  }

  @media(max-width: 600px) {
    .search {
      min-width: 200px;
    }
    @media(max-width: 370px) {
      .search {
        min-width: 150px;
      }
    }
  }
}